<p style="color: green"><%= notice %></p>

<% content_for :title, "Ingredient and Recipes" %>

<div class='mb-5'>
  <div class='d-flex justify-content-between align-items-center'>
    <h1>Ingredient and Recipes</h1>
    <%= link_to "New ingredient recipe", new_ingredient_recipe_path, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
</div>

<div id="ingredient_recipes" class='row row-cols-1 row-cols-md-2 row-cols-xxl-3 mb-3 gx-3 gy-5 justify-content-center'>
  <% @recipes.each do |recipe| %>
    <%= render 'ingredient_recipes/recipe', recipe: recipe %>
  <% end %>
</div>

<%= link_to "New ingredient recipe", new_ingredient_recipe_path %>
